#nav-bar{
    position: :sticky;
    top: 10px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 15px;
}

.vertical-center { 
  display: flex;
  align-items: center;
}

.navbar-brand img{
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li  {
    padding: 0 10px;
    float: left;
}

.navbar-nav li  {
    float: left;
    text-align: left;
}

#nav-bar ul li a:hover {
    color : #21D192 ;
}

.navbar-toggler{
    border: none;
}

.nav-link {
    color: aqua ;
    font-weight: 600;
    font-size: 16px;
}

.city-data{
    width: = 100%; 
}

.contact{
    width: = 100%; 
}

.slider{
    width: 100%
}
.map-graph {
    width: = 100%;
    height: 555px;
    padding-bottom: 20px;
}

.news {
    width: = 100%;
}

.mission {
    width: = 100%;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.card-link{
    color: black;
    text-align: center ;
}

.card-link a:hover {
    color : #4e8abe ;
}

.dark-grey-text{
    color: black;
}

.btn-outline-success {
    color: #21D192;
    border-color: #21D192;
}

.design a:hover{
    color : #21D192 ;
    text-decoration:none;
}

.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center; 

}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.contact-section{
  padding-top: 40px;
}

.form-group{
  margin-top: 10px;
}

label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}

.form-control{
  font-size: 1.3em;
  color: #080808;
}

textarea.form-control {
    height: 135px;
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: #F9FAFB;
  color: #21D192;
  cursor: pointer;
  outline: none;
  border: 1px solid #21D192;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
#back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: #21D192;
  color: #23272B;  
}

.btn,.btn-success{
	color: #21D192;
	background-color:#F9FAFB;
    border-color: #21D192;
}

.btn:hover,.btn-success:hover{
	color: #23272B;
	background-color:#21D192;
    border-color: #21D192;
}

.btn:active,.btn-success:active{
	color: #23272B;
	background-color:#21D192;
    border-color: #21D192;
}

.btn:focus,.btn-success:focus{
	color: #23272B;
	background-color:#21D192;
    border-color: #21D192;
}

.btn:visited,.btn-success:visited{
	color: #23272B;
	background-color:#21D192;
    border-color: #21D192;
}

.card-link:hover{
	color:#21D192;
}

.read:hover{
	text-decoration:none;
}

.read:hover{
	color:#21D192;
	text-decoration:none;
}